@model Recruit.ViewModel.RequisitionPageViewModel


@{
    ViewBag.Title = "Edit";
}
<h2>Requisition</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <b>All Requisitions</b>
        </div>
        <div id="txtArea" class="form-inline pull-right">
     
             <button type="submit" class="btn btn-primary" id="btnAddReq">Add Requisition</button>
        </div>
        
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Req#</th>
                        <th>Status</th>
                        <th>Edit</th>
                        
                    </tr>
                </thead>
                <tbody>

                    @foreach (var req in Model.Requisitions)
                    {
                        <tr>

                            <td>@req.reqNo</td>
                            <td>@req.Req_status</td>
                            <td><button type="submit" class="btn btn-primary js-edit" id="@req.Id">Edit</button></td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>


<div id="inlineForm">
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInput"></label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="ReqNo" placeholder="REQ#">
        REQ No


        <label class="sr-only" for="inlineFormInputGroup"></label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" data-toggle="toggle" data-on="Open" data-off="Closed" id="toggle-one" class="form-control">
            Status
        </div>

       
           
                <select id="MultiSkill" multiple="multiple">
                    @foreach (var skill in Model.Skill)
                    {
                        <option> @skill.Name</option>
                    }
                </select>
                
          
            Skills
        

        <button type="submit" class="btn btn-primary" id="btnSelected">Save</button>
    </form>
</div> 

@section scripts{
    <script>
            $(document).ready(function () {


                $('#inlineForm').hide();

                $('#toggle-one').bootstrapToggle();

                $('#btnAddReq').click(function () {
                    $('#inlineForm').show();
                });

                var ReqNo = $("#ReqNo").val();

                if ($('#toggle-one').is(":checked"))
                {
                    var status = true;
                }
                else
                {
                    var status = false;
                }

                $('#MultiSkill').multiselect({
                    includeSelectAllOption: true
                });


                $('#btnSelected').click(function () {
                    console.log("Save button pressed");
                    var selected = $("#MultiSkill option:selected");
                    var message = "";
                    selected.each(function () {
                        message += $(this).text() + $(this).val() +" "+"\n";
                    });
                    alert(message);
                    
                });

            });

    </script>
}

