@model Recruit.ViewModel.RequisitionPageViewModel


@{
    ViewBag.Title = "Edit";
}
<h2>Requisition</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <b>All Requisitions</b>
        </div>

        @using (Html.BeginForm("Add", "ReqDetails", FormMethod.Get))
        { 
            <div id="txtArea" class="form-inline pull-right">
     
                <button type="submit" class="btn btn-primary" id="btnAddReq">Add Requisition</button>
            </div>
        }
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Req#</th>
                        <th>Status</th>
                        <th>Skills</th>
                        <th>Edit</th>
                        
                    </tr>
                </thead>
                <tbody>

                    @foreach (var req in Model.Requisitions)
                    {
                        <tr>

                            <td>@req.reqNo</td>
                            <td>@req.Req_status</td>
                            <td>
                                <ul>
                                    @foreach (var skill in Model.skills_in_req)
                                    {
                                        <li>crap</li>
                                    }
                                </ul>
                            </td>
                            <td><button type="submit" class="btn btn-primary js-delete" id="@req.Id">Edit</button></td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>


@section scripts{
    @*<script>
        $(document).ready(function () {

            $("#btnAddReq").click(function (event) {
                console.log("add req button clicked");

                var Req = $("#addReqText").val();

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("Add", "Requisition")",
                    data: JSON.stringify({ "key": Req }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        window.location.reload(true);
                        console.log("In success");

                    },
                    error: function(data)
                    {
                        console.log(data);
                    }
                });
               })


        });
    </script>*@
}