@{
    ViewBag.Title = "Home Page";
}
<div class="container widgets">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                <b>  Requisitions </b>
            </h3>
            @using (Html.BeginForm("Edit", "Requisition", FormMethod.Get))
            {
                <button class="btn btn-default pull-right">Edit Requisitions</button>
            }
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Open Requisitions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Test</td>
                            <td><button class="btn btn-primary">Add candidate</button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                <b>Candidates</b>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Req#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>DOB</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                <b> Scoring scheme </b>
            </h3>

            <button class="btn btn-default pull-right">Edit scoring scheme</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">Panel content</div>
    </div>
</div>
