@model List<Recruit.Models.Skills>

@{
    ViewBag.Title = "Req_Details";
}

<h2>Requisition Details</h2>


<div>
    <label class="label label-info">REQ NAME</label>
    <input type="text" class=" form-control" id="ReqName" />
</div>

<div>
    <label class="label label-info">Skill Set</label>
</div>

<div>

    <select id="EmpList" multiple="multiple" class="form-control">

        @foreach (var skill in Model)
        {
            <option> @skill.Name</option>
        }

    </select>

  
</div>


<div>
    <label class="label label-info">Status</label>
    <input type="checkbox" data-toggle="toggle" data-on="Open" data-off="Closed" id="toggle-one">
    
    
</div>
<div>
    <button class="btn btn-primary" id="btnSelected">Save Changes</button>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $('#EmpList').multiselect({
                includeSelectAllOption: true
            });
            $('#btnSelected').click(function () {
                var selected = $("#EmpList option:selected");
                var message = "";
                selected.each(function () {
                    message += $(this).text() + " " + $(this).val() + "\n";
                });
                alert(message);
            });

          
           $('#toggle-one').bootstrapToggle();
           
        });

    </script>

}

